@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;600&family=Poppins:wght@100;400&family=Work+Sans:wght@400;600;700;800&display=swap");

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw900 {
    font-weight: 900 !important;
}

.bground-yellow {
    background-color: #fad725 !important;
}

.color-text {
    color: #727272 !important;
}

.color-blue {
    color: #6f77f1 !important;
}

.nav-item:hover {
    border-bottom: 1px solid blue;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.8rem !important;
}

.expert {
    border-style: solid;
    border-color: #6f77f1;
    transform: rotate(90deg);
}

.social-media-management {
    box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
    width: 20rem;
}
.keyword {
    background-image: url(../images/one.png);
    width: 15rem !important;
}
.content {
    background-image: url(../images/two.png);
    width: 15rem !important;
}
.target {
    background-image: url(../images/threee.png);
    width: 15rem !important;
}
.continuos-testing {
    background-image: url(../images/four.png);
    width: 15rem !important;
}
.keyword,
.content,
.target,
.continuos-testing {
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
}
.keyword:hover,
.content:hover,
.target:hover,
.continuos-testing:hover {
    border-bottom: 2px solid blue;
    box-shadow: 0px 10px 14px 2px rgba(14, 17, 60, 0.03);
}
.grow {
    width: 19rem;
}
.grow:hover {
    box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.optimazadion {
    width: 17rem;
    background-color: white;
}
.optimazadion:hover {
    box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.need-world:hover {
    box-shadow: 5px 25px 37px rgba(2, 22, 5, 0.06);
}
.plans-plus {
    transition-duration: 2s;
}
.plans-plus:hover {
    background-color: #6f77f1;
    color: white;
    scale: 1.1;
}
.plans-plus:hover p {
    color: white !important;
}
.plans-plus:hover button {
    background-color: #fad725 !important;
    border: white;
    color: black !important;
}
.member-info a:hover {
    color: #6f77f1 !important;
}
.member-info:hover {
    box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.member-info p:hover {
    color: #6f77f1;
}
.member-info {
    width: 15rem;
}
.mem-role:hover {
    color: black !important;
}
.clients-info {
    font-size: 0.7rem;
    background: url(../images/clients-bg.png);
    background-repeat: no-repeat;
    box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.subscribe {
    background-color: #FAFAFA;
    margin-top: 13rem !important;
    margin-bottom: 13rem ;
}
.footer {
    font-size: 0.7rem !important;
}
@media (min-width: 768px) {
  .member-info {
    width:18.5%;
  }
}
@media (min-width: 992px) {
    .experience {
        width: 80vw;
    }
    .keyword {
        width: 22% !important;
    }
    .content {
        width: 23.5% !important;
    }
    .target {
        width: 22% !important;
    }
    .continuos-testing {
        width: 22% !important;
    }
    .business-left {
        width: 40%;
    }
    .business-right {
        width: 35%;
    }
    .need-left {
        width: 75%;
    }
    .need-right {
        width: 50%;
    }
}